{% extends 'core/Base.html' %}
{% load static %}

{% block content %}

<div class="class-section">
    <div class="table-container">
        <div class="columns mt-3 is-1 is-variable">

            {% for play in plays %}

            <div class="column is-4-tablet is-3-desktop">
                <div class="card help">
                    <div class="card-image has-text-centered px-6">
                        <img src="{% static 'sample_picture.jpg' %}" alt="">
                    </div>
                    <div class="card-content">
                        <p>{{ play.date }} {{ play.time }}</p>
                        <p class="title is-size-5">{{ play.title }}</p>
                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item"><span><a href="{% url 'play-details' slug=play.slug %}">Details</a></span></p>
                        <p class="card-footer-item"><span><a href="#">Edit</a></span></p>
                        <p class="card-footer-item"><span><a href="#">Delete</a></span></p>
                    </footer>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <br>

</div>

{% endblock %}