<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to My local theatre!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>

    {% include 'core/navbar.html' %}

<body>
 <div class="hero-body is-one-fifth is-align-self-center">
 <div class="columns">
     <div class="column is-one-fifth"></div>
     <div class="column">
                 {% if messages %}
            {% for message in messages %}
                <article class="message">
                  <div class="message-header"><p>Message</p></div>
                <div class="message-body">{{ message }}</div>
                </article>
            {% endfor %}
        {% endif %}
     </div>
     <div class="column is-one-fifth"></div>
 </div>

        {% block content %}

        {% endblock %}
 </div>

</body>

<br><br><br><br><br><br><br><br><br><br>
        <footer class="footer is-fixed-bottom">
              <div class="has-text-centered">
                  <p>This is a school project by Hristo Kutsarov for <a href="https://softuni.bg/">@SoftUni</a></p>
              </div>
        </footer>


</html>
