{% load static %}
<nav class="navbar is-fullheight has-shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'home' %}">
          <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
        </a>

    <div class="navbar-start">
        <div class="navbar-item is-boxed"><a href="{% url 'all-plays' %}">Watch now</a></div>
        {% if perms.core.add_play %}
        <div class="navbar-item is-boxed"><a href="{% url 'create-play' %}">Create play</a></div>
        {% endif %}
        <div class="navbar-item is-boxed"><a href="{% url 'all-artists' %}">Artists</a></div>
        <div class="navbar-item is-boxed"><a href="{% url 'all-news' %}">News</a></div>
        <div class="navbar-item is-boxed"><a href="{% url 'register_admin' %}">Staff Only</a></div>


        {% if user.is_authenticated %}
            <div class="navbar-item is-boxed"><a href="#">Buy a ticket</a></div>
        {% endif %}
        {% if user.is_authenticated %}
            <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="{% url 'profile' %}">Profile</a>
                <div class="navbar-dropdown is-boxed">
                  <a class="navbar-item" href="#">My Profile</a>
                  <a class="navbar-item" href="#">Change password</a>
                    <hr class="navbar-divider">
                  <a class="navbar-item" href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        {% else %}
                <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="#">Profile</a>
                <div class="navbar-dropdown is-boxed">
                  <a class="navbar-item" href="{% url 'login' %}">Sign in</a>
                    <hr class="navbar-divider">
                  <a class="navbar-item" href="{% url 'register' %}">Register</a>
                </div>
            </div>
        {% endif %}




    <div class="navbar-end">
      <div class="navbar-item">
        <div class="control">

            <form class="is-active" method=POST action="{% url 'search_results' %}">
                {% csrf_token %}
                <input class="input" type="text" placeholder="Search" aria-label="Search" name="searched">
            </form>

        </div>
      </div>
    </div>

    </div>
  </div>
</nav>

