{% extends 'core/Base.html' %}

{% load static %}
{% block content %}

<div class="container is-fullheight">
    <div class="columns">
        <div class="column is is-one-fifth"></div>
        <div class="column">
            <h1><strong>Edit news</strong></h1>
        <br>
                {% if perms.core.change_news %}
                <form method="post">

                {% csrf_token %}

                {{ form.as_p }}

                <br>

                <div class="mb-3">


                        <button class="button is-medium">Submit</button>

                </div>
                </form>
                {% endif %}

            </div>
        <div class="column is is-one-fifth"></div>
        </div>
    </div>
</div>



{% endblock %}