{% extends 'core/Base.html' %}

{% load static %}
{% block content %}

<div class="container is-fullheight">
    <div class="columns">
        <div class="column is is-one-fifth"></div>
        <div class="column">

        <div class="box">

  <article class="media">
    <div class="media-left">
      <figure class="image is-align-self-auto">
        <a href="#"><img src="{% static 'sample_logo.png' %}" alt="Image"></a>
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{ news.title }}</strong> <small>{{ n.date }}</small> <small>{{ n.time }}</small>
          <br>
          {{ n.content }}
        </p>
      </div>
      <nav class="level">
        <div class="level-right">

            <button class="button is-small"><a href="{% url 'edit-news' pk=news.pk %}">Edit</a></button>


            <button class="button is-small"><a href="{% url 'delete-news' pk=news.pk %}">Delete</a></button>

        </div>
      </nav>

    </div>
  </article>
</div>

        </div>
        <div class="column is is-one-fifth"></div>
        </div>
    </div>

{% endblock %}