{% extends 'core/Base.html' %}

{% load static %}
{% block content %}

<div class="container is-fullheight">
    <div class="columns">
        <div class="column is is-one-fifth"></div>
        <div class="column">

                <form method="post">

                {% csrf_token %}

                {{ form.as_p }}

                <div class="mb-3">
                    {% if perms.core.delete_play %}
                        <button class="button is-medium is-danger"><a href="{% url 'delete-play' slug=play.slug %}">Delete</a></button>
                    {% endif %}

                    {% if perms.core.change_play %}
                        <button class="button is-medium">Submit</button>
                    {% endif %}
                </div>
                </form>

            </div>
        <div class="column is is-one-fifth"></div>
        </div>
    </div>
</div>

{% endblock %}