{% extends 'core/Base.html' %}

{% load static %}

{% block content %}

<div class="columns">
    <div class="column is-one-fifth"></div>
    <div class="column">
        <div class="box has-shadow">
     {% if searched %}
    <h5>You searched for: "{{ searched }}"</h5>
    <h5>The search returned {{ number_of_plays }} results.</h5>

         {% if plays %}
             <br>
             <h6>Plays</h6>
            {% for play in plays %}
                <li><a href="{% url 'play-details' slug=play.slug %}">{{ play }}</a></li>
            {% endfor %}
         {% endif %}

         {% if news %}
             <br>
             <h6>News</h6>
            {% for n in news %}
                <li><a href="{% url 'details-news' pk=n.pk %}">{{ n.title }}</a></li>
            {% endfor %}
         {% endif %}
         {% if artists %}
             <br>
            <h6>Artists</h6>
            {% for a in artists %}
                <li><a href="{% url 'details-artist' pk=a.pk %}">{{ a }}</a></li>
            {% endfor %}
         {% endif %}
{% endif %}
        </div>
    </div>
    <div class="column is-one-fifth"></div>
</div>

{% endblock %}

